* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #34a0a4; */
    font-family: Arial, Helvetica, sans-serif;
    background: url("../img/gradienta.jpeg") ;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: cover; */
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: lighter;
    padding: 10px;
}

.game-options {
    font-weight: bold;
    padding: 10px;
}

.banner {
    background: #d9ed92;
    width: 640px;
    height: auto;
    display: flexbox;
    margin: auto;
    /* flex-wrap: wrap; */
    padding: 10px;
    border: 2px solid #52b69a;
    border-radius: 15px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 25px; */
    color: #184e77;
}

.game-options {
    text-align: left;
    display: inline-flex;
    justify-content: space-between;
    /* padding: 5px; */
}

#reset {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(20% - 10px);
    height: calc(16.6% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    /* background: #fff; */
    backface-visibility: hidden;
}

.back-face {
    background: #fff;
}

.front-face {
    transform: rotateY(180deg);
    background: #d9ed92;
}

#attribution {
    /* display: flex; */
    font-size: 8px;
    margin: auto;
    padding: 10px;
}